<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SillCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SillCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Domain" value="192.168.1:2010" />
    <add key="OutputFormat" value="capture{0}.jpg" />
    <add key="HistorySize" value="15"/>
    <add key="SavePeriod" value="15"/>
  </appSettings>
  <userSettings>
    <SillCam.Properties.Settings>
      <setting name="HistorySize" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="SavePeriod" serializeAs="String">
        <value>15</value>
      </setting>
    </SillCam.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SillCam.Properties.Settings>
      <setting name="Domain" serializeAs="String">
        <value>192.168.1:2010</value>
      </setting>
      <setting name="OutputFormat" serializeAs="String">
        <value>capture{0}.jpg</value>
      </setting>
    </SillCam.Properties.Settings>
  </applicationSettings>
</configuration>